{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "style005.css" %}">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
    </head>
    <body>
      
        <nav class='Navbar'>
          
            <div class='logo'>
                <img src="{% static "images\logo.jpg" %}" alt="Image 1"><h1> NETWORK</h1>
            </div>
           
            
            

                <div class="menu-icon" id="menu-icon">
                    &#9776; <!-- This is the hamburger icon -->
                </div>
                
                  

                <div class="close-btn" id="close-btn">
                    &#10006; <!-- This is the X icon -->
                </div> 
                        <ul class="list" id="navbar-list">
                        <li class='content'><a href=" {% url "Home" %}">Home</a></li>
                        <li class="dropdown">
                        About Us
                        <ul class="dropdown-content">
                            <li><a href="{% url "who_we_are" %} ">Who We Are</a></li>
                            <li><a href="{% url "Our_Team" %} ">Our Team</a></li>
                            <li><a href="{% url "How_we_operate" %} ">How we operate</a></li>
                            <li><a href="{% url "Health_and_safety" %} ">Health and Safety</a></li>
                        </ul>
                    </li>


                    <li class='dropdown'>
                     What we do
                     <ul class="dropdown-contents">
                     <li><a href="{% url "G_implementation" %} ">5G Implementation</a></li>
                     <li><a href="{% url "Communication_system" %} ">Communication system</a></li>
                     <li><a href="{% url "Data_implementation" %} ">Data_implementation</a></li>
                     <li><a href="{% url "Telecommunication" %} ">Telecommunication</a></li>
                     <li><a href="{% url "Design_network" %} ">Design Network</a></li>
                     <li><a href="{% url "Disaster_recovery" %} ">disasters recovery implementation</a></li>
                     <li><a href="{% url "Edge_computer_network" %} ">Edge Computer Network</a></li>
                     <li><a href="{% url "Local_area" %} ">Local Area Setup</a></li>
                     <li><a href="{% url "Network_automation" %} ">Network Automation Setup</a></li>
                     <li><a href="{% url "Network_Virtualization" %} ">Network Function Virtualization(NFV)</a></li>
                     <li><a href="{% url "Network_Integration" %} ">Network_Integration</a></li>
                     <li><a href="{% url "Network_Traffic_Analysis" %} ">Network_Traffic_Analysis</a></li>
                     
                     <li><a href="{% url "Network_Security" %} ">Network Security implementation</a></li>
                     <li><a href="{% url "Voip_Network" %} ">Voip_Network</a></li>
                     <li><a href="{% url "Vpn_Implementation" %} ">Vpn Implementation</a></li>
                     <li><a href="{% url "Wide_Area_Network" %} ">Wide_Area_Network</a></li>
                     <li><a href="{% url "Wifi_Implementation" %} ">Wifi_Implementation</a></li>
                     
                     <li><a href="{% url "Wireless_Design" %} ">Wireless_Design</a></li>
                     <li><a href="{% url "Enterprise_Network" %} ">Enterprise_Network</a></li>
                     <li><a href="{% url "Remote_Network_Monitoring" %} ">Remote_Network_Monitoring</a></li>
                     </ul>
                    </li>
                    <li class='content'><a href="{% url "project" %} ">Project/Sector</a></li>
                    <li class='content'><a href="{% url "why_us" %} ">Why Us</a></li>
                    <li class='content'><a href="{% url "contact" %} ">Contact</a></li>
                
                </ul>
            </nav>

            <a href="https://wa.me/+2349161248397" target="_blank" id="whatsapp-button">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Chat with us on WhatsApp" />
              </a>
    
            
<div class="design-header">
    <img src="{% static 'pro-images/design.jpg' %}" alt="Image 2" >
    <div class="design-text">
<h1>Design Network on Net.com: A Leading Network Engineering Company</h1>

<p>Design Network on Net.com is a prominent network engineering company that specializes in creating robust, scalable, and secure networking solutions for businesses across various industries. With a deep understanding of the complexities of modern digital infrastructure, Design Network on Net.com offers a wide range of services to help organizations optimize their networks and ensure seamless connectivity.</p>

<ol>
    <li>Network Design and Architecture: Design Network on Net.com provides comprehensive network design and architecture services, ensuring that businesses have the right infrastructure to meet their unique needs. This includes designing both local area networks (LAN) and wide area networks (WAN) that are reliable, scalable, and efficient.

        </li>

        <li>
            Network Installation and Setup: The company offers end-to-end solutions for network installation, from laying the groundwork to setting up routers, switches, firewalls, and other essential networking hardware. They ensure that the network is properly configured and operational from day one.</li>
</ol>
<ul>
    <li>With a team of skilled network engineers, Design Network on Net.com has extensive experience in delivering customized networking solutions to businesses of all sizes.</li>


    <li>The company is known for providing dependable, high-quality services that ensure network performance and security.</li>

    
    <li>Design Network on Net.com focuses on understanding each client's unique needs, tailoring solutions to fit those requirements while ensuring long-term satisfaction.</li>
</ul>
<p>In a digital world where efficient and secure networks are crucial for success, Design Network on Net.com stands out as a trusted partner for businesses looking to strengthen their network infrastructure. Whether you're a small startup or a large enterprise, the company's network engineering expertise can help ensure that your digital operations run smoothly and securely.</p>

<p></p>
    </div>
</div>









            <footer>

                <div class="footer-form">
                <h1>Get In Touch With Net.com</h1>
                
                <form method="POST"  action="email_sender/">
                     {% csrf_token %}
                     <input type='text' name='First_name' placeholder="First-Name" class="types"/>
                     <input type='text' name='Last_name' placeholder="Last-Name"  class="types" /><br>
                     <input type='email' name='email' placeholder="Email"  class="types" />
                     <input type='number' name='number' placeholder="Phone-Number"  class="types" /><br>
                     <textarea name="Message" placeholder="Message" class="messages" ></textarea><br>
                     {% comment %} <input type='submit' class='sending'/> {% endcomment %}
                     <input type="hidden" name="page" value="Net.com website" />

                     <input type='submit' value="Send" class='sender'/>
                </form>
                </div>
                
                            <div class="footer-head">
                            <div class="logo-header">
                                <img src="{% static 'image/logo.jpg' %}" alt="Image 2">  <h1 class="maain-header">Net.com</h1>
                        </div>
                        <div class="icon">
                            <a href='https://web.facebook.com/profile.php?id=100089205093571'class='social-icon' ><i class="fab fa-facebook-f"></i></a>
                            {% comment  %} <a href='https://wa.me/2349161248397' class='social-icon' > <i class="fab fa-whatsapp"></i></a> {% endcomment %}
                            <a href='tel:+2349161248397' class='social-icon'><i class="fas fa-phone"></i></a>
                        </div>
                        </div>
                
                
                
                    
                        
                    </div>
                        </footer>
                <div class="last-footer">
                        <div class="year">
                            ©<p>Net.com</p>  <span id='current-year'></span> 
                        </div> 
                
                    <div class="last" >
                         <p class="footer-end">All Rights Reserved. Made With <i class="fas fa-heart" class="heart"></i>  By <a href='https://portfoilo-370i.onrender.com/'>Ukpono Andem </a> </p>
                    </div>
                </div>
                </div>
                
                        <script src="{% static "scripts.js" %}"></script>
    </body>
</html>