{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "style017.css" %}">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
    </head>
    <body>
      
        <nav class='Navbar'>
          
            <div class='logo'>
                <img src="{% static "images\logo.jpg" %}" alt="Image 1"><h1> NETWORK</h1>
            </div>
           
            
            

                <div class="menu-icon" id="menu-icon">
                    &#9776; <!-- This is the hamburger icon -->
                </div>
                
                

                <div class="close-btn" id="close-btn">
                    &#10006; <!-- This is the X icon -->
                </div> 
                        <ul class="list" id="navbar-list">
                        <li class='content'><a href=" {% url "Home" %}">Home</a></li>
                        <li class="dropdown">
                        About Us
                        <ul class="dropdown-content">
                            <li><a href="{% url "who_we_are" %} ">Who We Are</a></li>
                            <li><a href="{% url "Our_Team" %} ">Our Team</a></li>
                            <li><a href="{% url "How_we_operate" %} ">How we operate</a></li>
                            <li><a href="{% url "Health_and_safety" %} ">Health and Safety</a></li>
                        </ul>
                    </li>


                    <li class='dropdown'>
                     What we do
                     <ul class="dropdown-contents">
                     <li><a href="{% url "G_implementation" %} ">5G Implementation</a></li>
                     <li><a href="{% url "Communication_system" %} ">Communication system</a></li>
                     <li><a href="{% url "Data_implementation" %} ">Data_implementation</a></li>
                     <li><a href="{% url "Telecommunication" %} ">Telecommunication</a></li>
                     <li><a href="{% url "Design_network" %} ">Design Network</a></li>
                     <li><a href="{% url "Disaster_recovery" %} ">disasters recovery implementation</a></li>
                     <li><a href="{% url "Edge_computer_network" %} ">Edge Computer Network</a></li>
                     <li><a href="{% url "Local_area" %} ">Local Area Setup</a></li>
                     <li><a href="{% url "Network_automation" %} ">Network Automation Setup</a></li>
                     <li><a href="{% url "Network_Virtualization" %} ">Network Function Virtualization(NFV)</a></li>
                     <li><a href="{% url "Network_Integration" %} ">Network_Integration</a></li>
                     <li><a href="{% url "Network_Traffic_Analysis" %} ">Network_Traffic_Analysis</a></li>
                     
                     <li><a href="{% url "Network_Security" %} ">Network Security implementation</a></li>
                     <li><a href="{% url "Voip_Network" %} ">Voip_Network</a></li>
                     <li><a href="{% url "Vpn_Implementation" %} ">Vpn Implementation</a></li>
                     <li><a href="{% url "Wide_Area_Network" %} ">Wide_Area_Network</a></li>
                     <li><a href="{% url "Wifi_Implementation" %} ">Wifi_Implementation</a></li>
                     
                     <li><a href="{% url "Wireless_Design" %} ">Wireless_Design</a></li>
                     <li><a href="{% url "Enterprise_Network" %} ">Enterprise_Network</a></li>
                     <li><a href="{% url "Remote_Network_Monitoring" %} ">Remote_Network_Monitoring</a></li>
                     </ul>
                    </li>
                    <li class='content'><a href="{% url "project" %} ">Project/Sector</a></li>
                    <li class='content'><a href="{% url "why_us" %} ">Why Us</a></li>
                    <li class='content'><a href="{% url "contact" %} ">Contact</a></li>
                
                </ul>
            </nav>

            <a href="https://wa.me/+2349161248397" target="_blank" id="whatsapp-button">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Chat with us on WhatsApp" />
              </a>
    

<div class="wifi-header">
    <img src="{% static 'pro-images/5G implementation.jpg' %}" alt="Image 2" >
    <div class="wifi-text">

<h1>WiFi Implementation at Net.com: A Comprehensive Approach to Seamless Connectivity</h1>

<p>we understand the growing need for reliable and high-performance Wi-Fi solutions across businesses, institutions, and residential spaces. Wi-Fi technology has become a cornerstone of modern connectivity, enabling everything from daily communications to critical business operations. Our Wi-Fi implementation services aim to provide seamless, fast, and secure wireless networks, customized to meet the unique needs of our clients.</p>

<p>Needs Assessment and Site Survey
    The first step in any Wi-Fi implementation is a thorough needs assessment. We work closely with clients to understand their specific requirements, including the number of devices to be connected, expected traffic volume, and specific areas where coverage is needed.
    
    Once the requirements are clear, our engineers perform a comprehensive site survey. This involves assessing the physical layout of the space, identifying potential sources of interference, and analyzing the optimal placement for access points (APs). With advanced tools and techniques, we can map out the Wi-Fi coverage areas to ensure there are no dead zones and that users will experience consistent performance throughout.</p>


    <p>Wi-Fi implementation at Net.com is not just about providing wireless access – it’s about delivering a reliable, secure, and high-performance network that meets the needs of your business or organization. From initial design to deployment, testing, and ongoing support, our team of network engineers is committed to ensuring that your Wi-Fi solution functions flawlessly, allowing you to focus on what truly matters. With Net.com’s expertise in Wi-Fi network engineering, you can trust that your connectivity needs will be handled with precision, professionalism, and care.</p>
    </div>

</div>


            


            <footer>

                <div class="footer-form">
                <h1>Get In Touch With Net.com</h1>
                
                <form method="POST"  action="email_sender/">
                    {% csrf_token %}
                    <input type='text' name='First_name' placeholder="First-Name" class="types"/>
                    <input type='text' name='Last_name' placeholder="Last-Name"  class="types" /><br>
                    <input type='email' name='email' placeholder="Email"  class="types" />
                    <input type='number' name='number' placeholder="Phone-Number"  class="types" /><br>
                    <textarea name="Message" placeholder="Message" class="messages" ></textarea><br>
                    {% comment %} <input type='submit' class='sending'/> {% endcomment %}
                
                    <input type="hidden" name="page" value="Net.com Website" />

                    <input type='submit' value="Send" class='sender'/>
               </form>
                </div>
                
                            <div class="footer-head">
                            <div class="logo-header">
                                <img src="{% static 'image/logo.jpg' %}" alt="Image 2">  <h1 class="maain-header">Net.com</h1>
                        </div>
                        <div class="icon">
                            <a href='https://web.facebook.com/profile.php?id=100089205093571'class='social-icon' ><i class="fab fa-facebook-f"></i></a>
                            {% comment  %} <a href='https://wa.me/2349161248397' class='social-icon' > <i class="fab fa-whatsapp"></i></a> {% endcomment %}
                            <a href='tel:+2349161248397' class='social-icon'><i class="fas fa-phone"></i></a>
                        </div>
                        </div>
                
                
                
                    
                        
                    </div>
                        </footer>
                <div class="last-footer">
                        <div class="year">
                            ©<p>Net.com</p>  <span id='current-year'></span> 
                        </div> 
                
                    <div class="last" >
                         <p class="footer-end">All Rights Reserved. Made With <i class="fas fa-heart" class="heart"></i>  By <a href='https://portfoilo-370i.onrender.com/'>Ukpono Andem </a> </p>
                    </div>
                </div>
                </div>
                
                        <script src="{% static "scripts.js" %}"></script>
    </body>
</html>